<div class="col-md-12">
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Company Name</h3>
            </div>
        </div>
       <div class="row" ng-repeat="company in ctrl.companies">
           <div class="col-md-6" >
               {{company.Name}}
           </div>
           <div class="col-md-2">
               <a class="btn btn-primary" ui-sref="company({id:company.ID})">View Details</a>
           </div>
           <div class="col-md-2">
               <a ui-sref="server({id:company.ID})" class="btn btn-primary">Server</a>
           </div>
            <div class="col-md-2">
                <a ui-sref="survey({id:company.ID})" class="btn btn-primary">Survey</a>
            </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <input ui-sref="createCompany" type="submit" class="btn btn-primary" name="submit" value="Add New">
            </div>
       </div>
    </main>
</div>