<div class="col-md-12">
      <div class="row">
          <div class="col-md-12">
              <h4>Company & Infrastructure Information</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="companyName">Company Name</label>
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" ng-model="companyName">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="officeAddress">Office Address</label>
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" ng-model="officeAddress">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="contactPerson">Contact Person</label>
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" ng-model="officeAddress">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="designation">Designation</label>
          </div>
          <div class="col-md-4">
             <input type="text" class="form-control" ng-model="designation">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="email">Email</label>
          </div>
          <div class="col-md-4">
             <input type="text" class="form-control" ng-model="email">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="contactNo">Contact No.</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" ng-model="contactNo">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <center><label for="infrastructure">Infrastructure</label></center>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="servers">Total No. of Servers</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" ng-model="servers">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="firewall">Brand and Model of Firewall/Gateway System</label>
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" ng-model="firewall">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="bandwidth">Internet Bandwidth</label>
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" ng-model="bandwidth">
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="activeDirectory">Do you have Active Directory (Y/N)</label>
          </div>
          <div class="col-md-4">
             <input type="text" class="form-control" ng-model="activeDirectory">
          </div>
      </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-model="save" ng-click="ctrl.save()">Save</button>
            </div>
        </div>
</div>

