<form name="formEntry" id="employeeForm" novalidate>
    <div class="form-horizontal">
        <div class="row clearfix">
          <h4>Company information</h4>
            <hr />
            <div class="col-lg-10">
                    <div class="form-group clearfix">
                        <label class="col-lg-3 control-label">Company name</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.CompanyName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-lg-3 control-label">Office address</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.OfficeAddress" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-lg-3 control-label">Contact person</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.ContactPerson" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-lg-3 control-label">Designation</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.Designation" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.Email" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-lg-3 control-label">Contact no.</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.ContactNumber" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                <div>
                  <h4>Infrastructure</h4>
                    <hr />
                </div>
                <div class="col-lg-">
                    <div class="form-group clearfix">
                        <label class="col-lg-4 control-label">Total no. of servers</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.NoOfServers" type="number" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                </div>
                <div class="col-lg-">
                    <div class="form-group clearfix">
                        <label class="col-lg-4 control-label">Brand and model of firewall/gateway servers</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.Brand" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                </div>
                <div class="col-lg-">
                    <div class="form-group clearfix">
                        <label class="col-lg-4 control-label">Internet bandwidth</label>
                        <div class="col-lg-5">
                            <input ng-model="ctrl.newCompany.Bandwidth" type="number" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                </div>
                <div class="col-lg-">
                    <div class="form-group clearfix">
                        <label class="col-lg-4 control-label">Do you have an active directory? (Yes/No)</label>
                        <div class="col-lg-3">
                            <input ng-model="ctrl.newCompany.ActiveDirectoryExists" type="text" class="form-control" name="title" required maxlength="250">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div  class="col-lg-">
                    <div class="form-group clearfix">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-model="cancel" ui-sref="home">Cancel</button>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-model="save" ng-click="ctrl.save(ctrl.newCompany)">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>
