<div class="col-md-12" ng-controller="CompanyCtrl">
       <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                    <img src="CloudPhoenixSolutions.png">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
          </ul>
       </div>
<a type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">View Details</a>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <table class="table">
          <tbody>
              <tr><td><label for="companyName">Company Name</label></td><td></td></tr>
              <tr><td><label for="officeAddress">Office Address</label></td><td></td></tr>
              <tr><td><label for="contactPerson">Contact Person</label></td><td></td></tr>
              <tr><td><label for="designation">Designation</label></td><td></td></tr>
              <tr><td><label for="email">Email</label></td><td></td></tr>
              <tr><td><label for="contactNo">Contact No.</label></td><td></td></tr>
              <tr><td colspan="2"><label for="infrastructure">Infrastructure</label></td></tr>
              <tr><td><label for="servers">Total No. of Servers</label></td><td></td></tr>
              <tr><td><label for="firewall">Brand and Model of Firewall/Gateway System</label></td><td></td></tr>
              <tr><td><label for="bandwidth">Internet Bandwidth</label></td><td></td></tr>
              <tr><td><label for="activeDirectory">Do you have Active Directory (Y/N)</label></td><td></td></tr> 
          </tbody>
      </table>
    </div>
  </div>
</div>

</div>

