/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    xpadding-bottom: 10px;
    
    padding-top: 50px;
}

main {
    padding-top: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #171615;
}

.text-muted {
    margin: 20px 0;
}

.navbar-brand
{
    float: left;
    padding: 1px 1px;
    font-size: 15px;
    line-height: 15px;
    height: 45px;
}

.navbar-header
{
    height: 68px;
}

.navbar-right
{
    padding-top: 10px;
}

.navbar-header img
{
    vertical-align: top;
    width: 100%;
}