<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <main class="col-md-8">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis tortor at tellus sodales hendrerit. Aliquam a augue odio. Duis auctor bibendum ligula, non porta enim varius eu. Sed accumsan scelerisque neque, ac malesuada ante laoreet quis. Praesent fringilla est eget fringilla efficitur. Suspendisse aliquet nisl eget facilisis posuere. Donec leo lacus, dictum non justo ut, commodo viverra turpis. Etiam vulputate velit eu odio elementum pulvinar. Etiam semper venenatis dictum. Nam vitae risus non libero tristique efficitur et quis quam.
            <br>
            <br>Curabitur eu placerat augue. Sed vestibulum aliquam neque, et vulputate odio ultrices vitae. Praesent eget ipsum faucibus, fermentum urna vitae, convallis ante. Praesent eleifend in mi vitae rhoncus. Aenean vitae consequat urna. Maecenas ultricies, neque ut blandit pharetra, tellus nunc porttitor tortor, nec ultricies neque diam a elit. Sed neque nisi, efficitur et tristique in, tincidunt quis elit. Nam tristique imperdiet dolor, at sodales velit commodo pellentesque. Donec at sollicitudin quam. Etiam dui sapien, tincidunt a nisl at, semper tempus leo. Praesent pretium porttitor tempor.
            <br>
            <br> Nam sit amet turpis metus. Pellentesque pellentesque gravida neque in ultricies. Morbi tristique, nunc sit amet hendrerit maximus, neque elit consectetur turpis, a porta ipsum nibh eu risus. Maecenas eu gravida neque. Vestibulum nec velit quis augue bibendum feugiat quis in felis. Maecenas tincidunt libero lacus, et aliquet massa tempor in. Proin fringilla et metus ac dapibus. Etiam viverra consectetur mattis. Donec nec velit sem. Quisque dictum, mi sit amet dapibus blandit, tellus nisl interdum turpis, quis fringilla nisl neque vitae diam. Morbi pretium dolor lorem, at mollis nibh dapibus et.
            <br>
            <br> Cras at bibendum diam. Duis convallis porttitor malesuada. Suspendisse vitae sagittis orci, in semper est. Morbi molestie ante ex. Duis euismod augue eu leo porttitor porta. Pellentesque pretium a nisl vel sodales. Phasellus ornare eros non ligula aliquam efficitur. Praesent non nulla sit amet risus sagittis mattis ac eget diam. Nam accumsan nulla est, nec tincidunt nisl sodales nec. Ut egestas ultrices pulvinar. Sed vitae porttitor est.</p>
    </main>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>