<div class="col-md-12" ng-controller="ServerCtrl">
    <table class="table">
        <thead>
            <tr>
                <td class="header">Server</td>
                <td class="header">Virtual/Physical</td>
                <td class="header">Processor Speed and Number of Cores</td>
                <td class="header">Memory (Size)</td>
                <td class="header">Hard Disk (Quantiry, Partition, Space)</td>
                <td class="header">Applications Running</td>
                <td class="header">Cirtical/Non Critical</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
            </tr>
        </tbody>
    </table>
</div>
