<div class="col-md-12" ng-controller="ServerCtrl">
    <table class="table">
        <thead>
            <tr>
                <td class="header">Server</td>
                <td class="header">Virtual/Physical</td>
                <td class="header">Processor Speed and Number of Cores</td>
                <td class="header">Memory (Size)</td>
                <td class="header">Hard Disk (Quantiry, Partition, Space)</td>
                <td class="header">Applications Running</td>
                <td class="header">Critical/Non Critical</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ctrl.server[0].Server}}</td>
                <td>{{ctrl.server[0].ServerType}}</td>
                <td>{{ctrl.server[0].Processor}}</td>
                <td>{{ctrl.server[0].Memory}}</td>
                <td>{{ctrl.server[0].HardDisk}}</td>
                <td>{{ctrl.server[0].ApplicationsRunning}}</td>
                <td>{{ctrl.server[0].CriticalNonCritical}}</td>
            </tr>
        </tbody>
    </table>
</div>
