<!DOCTYPE html>
<html ng-app="CloudPhoenix">

<head>
    <title>Assessment Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="app.less" type="text/css" rel="stylesheet/less">
    <link rel="stylesheet" href="content/css/site.css">
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
<!--
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
-->
                <a class="navbar-brand" href="#"><img src="content/images/logo.png" alt="Company Logo"/></a>
            </div>
           <!-- <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/company">Companies</a></li>
                </ul>
            </div>-->
            <!--/.nav-collapse -->
        </div>
    </nav>

    <main>
        <div class="container">
            <div ui-view>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="col-md-6">
            <small class="text-muted">Copyright © 2016 Cloud Phoenix Solutions. All Rights Reserved</small>
        </div>
        <div class="col-md-6">
        </div>
    </footer>

    <!-- Livereload script for development only (stripped during dist build) -->
<!--    <script src="http://localhost:35729/livereload.js" data-concat="false"></script>-->

    <!-- JS from Bower Components -->
    <script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <!-- Add New Bower Component JS Above -->


    <!-- Main App JS -->
    <script src="app.js"></script>
    <script src="partial/home/home.js"></script>
    <script src="partial/company/company.js"></script>
    <script src="partial/server/server.js"></script>
    <script src="partial/survey/survey.js"></script>
    <script src="service/companyService.js"></script>
    <script src="service/serverService.js"></script>
    <script src="service/surveyService.js"></script>
    <script src="service/sharedService.js"></script>
    <!-- Add New Component JS Above -->


    <div
        bn-modals
        ng-show="subview"
        class="m-modals"
        ng-switch="subview">

        <!-- BEGIN: Alert Modal. -->
        <div
            ng-switch-when="alert"
            ng-controller="AlertModalController"
            class="modal">

            <p>
                {{ message }}
            </p>

            <p>
                <a ng-click="close()">Ok, I got it!</a>
            </p>

            <!-- This is to demonstrate that we can jump from one modal to another. -->
            <p>
                <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
            </p>

        </div>
        <!-- END: Alert Modal. -->


        <!-- BEGIN: Confirm Modal. -->
        <div
            ng-switch-when="confirm"
            ng-controller="ConfirmModalController"
            class="modal">

            <p>
                {{ message }}
            </p>

            <p>
                <a ng-click="confirm()">{{ confirmButton }}</a>
                &mdash;
                <a ng-click="deny()">{{ denyButton }}</a>
            </p>

        </div>
        <!-- END: Confirm Modal. -->


        <!-- BEGIN: Prompt Modal. -->
        <form
            ng-switch-when="prompt"
            ng-controller="PromptModalController"
            ng-submit="submit()"
            class="modal">

            <p>
                {{ message }}
            </p>

            <p ng-if="errorMessage">
                <strong>Sorry:</strong> {{ errorMessage }}
            </p>

            <p>
                <input type="text" ng-model="form.input" />
            </p>

            <p>
                <a ng-click="submit()">Submit</a>
                &mdash;
                <a ng-click="cancel()">Cancel</a>
            </p>

        </form>
        <!-- END: Prompt Modal. -->

    </div>
    <!-- END: Modals Layout. -->

</body>


</html>
